---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum sagittis velit. Nulla tincidunt fermentum enim ut semper. Curabitur efficitur augue nec metus porta cursus. Maecenas eleifend id purus condimentum euismod. Morbi pulvinar, lectus vitae vulputate laoreet, orci ante egestas mi, ut faucibus nisl enim nec diam.
`;
---

<Layout title="Welcome to Astro.">
    <Hero />
    <section class="fixed-width">
        <h1 class="mb-10">Popmelt Astro Basic Site</h1>
        <Markdown content={explainer} class="text-lg mb-10" />
        <p class="mb-8">
            <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Read the Docs</a>
        </p>
    </section>
</Layout>

<style>
    .fixed-width {
        padding: 80px 120px;
    }
</style>
