---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'About', href: '/about' },
    { linkText: 'Team', href: '/team' }
];
---

<nav class="nav-wrap">
    <a href="/">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul class="nav-links">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="nav-link">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
    <div class="nav-icon"></div>
</nav>

<style>
    .nav-wrap {
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .nav-links {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .nav-link {
        display: flex;
        padding: 1rem;
    }

    .nav-icon {
        width: 40px;
        height: 40px;
        border: white 1px solid;
        border-radius: 40px;
    }
</style>
